<mat-card *ngIf="authorizationData" class="authorization-card">
  <mat-card-title class="text-center">Autorisations pour Ultramarine {{ authorizationData?.ultramarineId }}</mat-card-title>
  <mat-divider class="my-3"></mat-divider>

  <div class="authorization-tables">
    <!-- Table des autorisations Supply -->
    <div class="authorization-table">
      <h3>Autorisations Supply</h3>
      <table mat-table [dataSource]="supplyDataSource" class="mat-elevation-z2">

        <!-- Catégorie Column -->
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef> Catégorie </th>
          <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
        </ng-container>

        <!-- Limitation Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Limitation </th>
          <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>

    <!-- Table des autorisations Weight -->
    <div class="authorization-table">
      <h3>Autorisations Weight</h3>
      <table mat-table [dataSource]="weightDataSource" class="mat-elevation-z2">

        <!-- Catégorie Column -->
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef> Catégorie </th>
          <td mat-cell *matCellDef="let element"> {{ element.key }} </td>
        </ng-container>

        <!-- Limitation Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Limitation </th>
          <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>
</mat-card>

<!-- Erreur -->
<div *ngIf="errorMessage" class="mat-error text-center mt-4">
  {{ errorMessage }}
</div>
