<form [formGroup]="ultramarineForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nom</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Grade</mat-label>
    <input matInput type="text" formControlName="grade" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="ultramarineForm.invalid">
    Envoyer
  </button>
</form>
