<div class="login-container">
  <h2>Connexion</h2>
  <form (ngSubmit)="onSubmit()">
    <!-- Nom d'utilisateur -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput type="text" id="username" [(ngModel)]="username" name="username" required>
    </mat-form-field>

    <!-- Mot de passe -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" id="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>

    <!-- Bouton de soumission -->
    <div class="text-end">
      <button mat-raised-button type="submit" color="primary">Se connecter</button>
    </div>

    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="error mat-body-1">
      {{ errorMessage }}
    </div>
  </form>
</div>
