<div class="update-equipment-form">
  <h3>Modifier ces équipements</h3>

  <div *ngIf="equipmentTypes.length === 0">
    Chargement des options...
  </div>

  <div *ngIf="equipmentTypes.length > 0">
    <div *ngFor="let type of equipmentTypes">
      <mat-form-field appearance="fill" class="equipment-select">
        <mat-label>{{ type }}</mat-label>
        <mat-select [(ngModel)]="localEquipments[type]" (selectionChange)="emitUpdate()">
          <mat-option value="">Aucune sélection</mat-option>
          <mat-option *ngFor="let option of availableEquipments[type]" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="updateEquipments()">Enregistrer les équipements</button>
</div>
