<div class="update-form">
  <h3>Modifier l'ultramarine</h3>
  <form [formGroup]="updateForm" (ngSubmit)="updateInfo()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput id="name" type="text" formControlName="name">
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Grade</mat-label>
        <input matInput id="grade" type="text" formControlName="grade">
      </mat-form-field>
    </div>

    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="updateForm.invalid">Valider</button>
      <button mat-button type="button" (click)="onCancel()">Annuler</button>
    </div>
  </form>
</div>
